streamlit==1.32.2
openai==1.14.2
openai-whisper== 20231117
ffmpeg-python==0.2.0
pydub==0.25.1
streamlit-audiorec
pocketsphinx

# General
python-dotenv

assemblyai==0.24.0

jiwer==3.0.3
rapidfuzz==3.8.1

## Facebook German Model
torchaudio
transformers 
torch